.container {
  width: 70%;
  margin: auto;
  text-align: center;
  /* background-color: white; */
}



.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  width: 100%;
}

h1 {
  margin: 10vh auto;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  white-space: nowrap;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


@media (max-width:600px) 
{
  body 
  {
    overflow-x: hidden;
  }
  .container
  {
    width: 100%;
    overflow-x: hidden;
  }
  h1 
  {
    margin: 2vh auto;
    white-space: normal;
    font-size: 8vh;
  }
  
}